In [4]:
import pandas as pd 
import seaborn as sns 
import numpy as np 
import matplotlib.pyplot as plt 

#This gives headings to the dataset
heading = ["Datasets","x1","x2","x3","x4","P1","P2","P3","P4"] 
#This reads in the csv file
data = pd.read_csv("anscombe.csv",names = heading)

data.head()

   Datasets  x1  x2  x3  x4    P1    P2     P3    P4
0       NaN  x1  x2  x3  x4    y1    y2     y3    y4
1       1.0  10  10  10   8  8.04  9.14   7.46  6.58
2       2.0   8   8   8   8  6.95  8.14   6.77  5.76
3       3.0  13  13  13   8  7.58  8.74  12.74  7.71
4       4.0   9   9   9   8  8.81  8.77   7.11  8.84